---
layout: default
---


  <header class="site-masthead">

      <h1>
        Teaching at Yale (2022–present)
      </h1>
      <h2>Alex Gil</h2>

  </header>

<main class="home" id="main" role="main" aria-label="Content">
  <ul>
    <li>
      "<a href="http://teaching.elotroalex.com/s23-intro-dh/"
        >Introduction to Digital Humanities II: Algorithmic Approaches to
        Culture.</a
      >" Department of Spanish and Portuguese, Spring 2023
    </li>
    <li>
      "<a href="http://teaching.elotroalex.com/f22-intro-dh/"
        >Introduction to Digital Humanities I: Architectures of Knowledge.</a
      >" Department of Spanish and Portuguese, Fall 2022
    </li>
  </ul>
</main>
