---
layout: default
---


  <header class="site-masthead">
    {% include menu.html %}

      <h1>
        Introduction to Digital Humanities
      </h1>

      <h2>
        Part II: Algorithmic Approaches to Culture
      </h2>

  </header>

<main class="home" id="main" role="main" aria-label="Content">

  <p>The historical and cultural record of humanity is undergoing a massive and epochal transformation into shared analog and digital realities. In <em>Part I: Architectures of Knowledge</em> (Fall 2022) we studied the shape and construction of this new record—the architectures of historical and cultural collections and data. Once those architectures are in place, a new affordance opens up for scholars: the ability to manipulate historical and cultural data using computation at different scales and in different forms. In this course, you will be introduced to these affordances by exploring four broad, linked concepts—in practice and theory: analysis, retrieval, metamorphosis, and poesis.</p>

  <p>The course combines a seminar preceded by a brief lecture, and a digital studio. Every week we will move through our discussions in tandem with hands-on exercises that will serve to illuminate our readings and help you gain a measure of computational proficiency useful in humanities scholarship. You will learn some of the basics of scripting, writing little bits of code, and re-using someone else's code. While I cannot teach you how to become a programmer in one semester, you will understand what that journey entails by the end of this one. You will also learn to understand, and evaluate a few popular and emerging genres of Digital Humanities connected to what is now called cultural analytics. Finally, and perhaps the most important lesson of the semester, you will learn to collaborate with each other on common computional research tasks in the humanities.</p>

  <p>(No previous computational experience required, including Part I of this course).</p>
    

</main>